<div id="actorBio">
	<img src="http://image.tmdb.org/t/p/w185/7nIyQu8fJTcKN40idTKajIxQo2x.jpg" class="bioPic" />
	<h2>Hugh Jackman</h2>
	<h3>Sydney, New South Wales, Australia</h3>
	<h4>(12 Oct 1968 -)</h4>
	<h5 class="bio">Biography</h5>
	<p>Hugh Michael Jackman (born 12 October 1968) is an Australian actor and producer who is involved in film, musical theatre, and television. Jackman has won international recognition for his roles in major films, notably as action/superhero, period and romance characters.</p>
	<p>He is known for his role as Wolverine in the X-Men series, as well as for his leads in Kate &amp; Leopold, Van Helsing, The Prestige, and Australia. Jackman is a singer, dancer, and actor in stage musicals, and won a Tony Award for his role in The Boy from Oz. In November 2008, Open Salon named Jackman one of the sexiest men alive. Later that same month, People magazine named Jackman &quot;Sexiest Man Alive.&quot; A three-time host of the Tony Awards, winning an Emmy Award for one of these appearances, Jackman also hosted the 81st Academy Awards on 22 February 2009.</p>
	<p class="cite">Description above from the Wikipedia article Hugh Jackman, licensed under CC-BY-SA, full list of contributors on Wikipedia.</p>
</div>
<div id="graphor">
	<highchart id="highChart" config="chartConfig" ></highchart>
</div>
<pre>
{
    "adult": false,
    "also_known_as": [],
    "biography": "Hugh Michael Jackman (born 12 October 1968) is an Australian actor and producer who is involved in film, musical theatre, and television. Jackman has won international recognition for his roles in major films, notably as action/superhero, period and romance characters.\n\nHe is known for his role as Wolverine in the X-Men series, as well as for his leads in Kate &amp; Leopold, Van Helsing, The Prestige, and Australia. Jackman is a singer, dancer, and actor in stage musicals, and won a Tony Award for his role in The Boy from Oz. In November 2008, Open Salon named Jackman one of the sexiest men alive. Later that same month, People magazine named Jackman \"Sexiest Man Alive.” A three-time host of the Tony Awards, winning an Emmy Award for one of these appearances, Jackman also hosted the 81st Academy Awards on 22 February 2009. Description above from the Wikipedia article Hugh Jackman , licensed under CC-BY-SA, full list of contributors on Wikipedia.",
    "birthday": "1968-10-12",
    "deathday": "",
    "homepage": "",
    "id": 6968,
    "imdb_id": "nm0413168",
    "name": "Hugh Jackman",
    "place_of_birth": "Sydney, New South Wales, Australia",
    "popularity": 16.2449513353451,
    "profile_path": "/7nIyQu8fJTcKN40idTKajIxQo2x.jpg"
}
------
[{
    "id": 2080,
    "title": "X-Men Origins: Wolverine",
    "release_date": "2009-04-30",
    "poster_path": "/vbaV7DalSF6Uy4qLyVK7uNdtmFy.jpg",
    "vote_average": 6.2
}, {
    "id": 11232,
    "title": "Kate & Leopold",
    "release_date": "2001-12-25",
    "poster_path": "/yZCDirnEIa3vm9lNztGwDulsmK4.jpg",
    "vote_average": 5.8
}, {
    "id": 11619,
    "poster_path": "/oCdPDusnJvIZN6OpaF2Yj7211w.jpg",
    "release_date": "2006-10-22",
    "title": "Flushed Away",
    "vote_average": 5.7
}, {
    "id": 6972,
    "title": "Australia",
    "poster_path": "/rjyseZNRuMiomWbQZt6BQMwyyE2.jpg",
    "release_date": "2008-11-18",
    "vote_average": 6.0
}, {
    "id": 7092,
    "poster_path": "/s1H2ALJVZiX6sMZ7Msfotkfbkfg.jpg",
    "release_date": "2004-05-11",
    "title": "Van Helsing: The London Assignment",
    "vote_average": 6.3
}, {
    "id": 7131,
    "poster_path": "/gPFn6CIe4Af6jeFmyIpyk5hGV4.jpg",
    "release_date": "2004-05-06",
    "title": "Van Helsing",
    "vote_average": 5.8
}, {
    "id": 12658,
    "poster_path": "/fpQwuNg9rAZuU3NSlfBZQzymQ1E.jpg",
    "release_date": "2001-03-30",
    "title": "Someone Like You",
    "vote_average": 6.2
}, {
    "id": 9705,
    "poster_path": "/uJdI3eau8BHgTsrUbAeccnKn0ez.jpg",
    "release_date": "2001-06-07",
    "title": "Swordfish",
    "vote_average": 6.0
}, {
    "id": 27074,
    "poster_path": "/iVmKouv5s5MidzihBLlHw6CbyAi.jpg",
    "release_date": "1999-09-26",
    "title": "Oklahoma!",
    "vote_average": 6.0
}, {
    "id": 13018,
    "poster_path": "/aZzBvbQErVCcgifOGNrYq1Kt8fa.jpg",
    "release_date": "2008-04-25",
    "title": "Deception",
    "vote_average": 6.1
}, {
    "id": 9836,
    "poster_path": "/8RLEzftZK87S2usLsQoYtyNYzoV.jpg",
    "release_date": "2006-11-17",
    "title": "Happy Feet",
    "vote_average": 5.6
}, {
    "id": 36657,
    "poster_path": "/4kYj7fUJzhEg7xz8J3oMPi7gDww.jpg",
    "release_date": "2000-07-14",
    "title": "X-Men",
    "vote_average": 6.5
}, {
    "id": 36658,
    "poster_path": "/fdmZ0uHWDQzb6atNTaOQdfdQd9X.jpg",
    "release_date": "2003-04-27",
    "title": "X2: X-Men United",
    "vote_average": 6.5
}, {
    "id": 36668,
    "poster_path": "/5QpaN7ZBAR6D3FotvEIMX0qZxHg.jpg",
    "release_date": "2006-05-26",
    "title": "X-Men: The Last Stand",
    "vote_average": 6.1
}, {
    "id": 38931,
    "poster_path": "/yiCGrnjCqunxk1SS63nAPFdtGsM.jpg",
    "release_date": "2009-11-13",
    "title": "Oh My God",
    "vote_average": 8.0
}, {
    "id": 39254,
    "poster_path": "/drtXi58nN6P3zcoLh6wUlsZAYqh.jpg",
    "release_date": "2011-10-06",
    "title": "Real Steel",
    "vote_average": 6.4
}, {
    "id": 68044,
    "poster_path": "/wMQwBKFeWHyAiWlwuNKxIDi24rS.jpg",
    "release_date": "1999-03-25",
    "title": "Paperback Hero",
    "vote_average": 10.0
}, {
    "id": 49538,
    "poster_path": "/l2cBQTfbVEWUXW8nKWCgq0ct7WU.jpg",
    "release_date": "2011-05-24",
    "title": "X-Men: First Class",
    "vote_average": 6.8
}, {
    "id": 81188,
    "poster_path": "/sIZr3pWcnLTjMkOaTkBrV967lTK.jpg",
    "release_date": "2012-11-29",
    "title": "Rise of the Guardians",
    "vote_average": 6.6
}, {
    "id": 82695,
    "poster_path": "/qEsrAHoxj746FRb7OLGYjrx1AI3.jpg",
    "release_date": "2012-12-25",
    "title": "Les Misérables",
    "vote_average": 6.8
}, {
    "id": 75301,
    "poster_path": "/jdVqjo4AZNXEP5Of17tmiXIKHA6.jpg",
    "release_date": "2011-10-21",
    "title": "Being Elmo: A Puppeteer's Journey",
    "vote_average": 7.5
}, {
    "id": 58882,
    "poster_path": "/gAF957pT3g8kXCn8kGgo4FKIgy1.jpg",
    "release_date": "2011-07-15",
    "title": "Snow Flower and the Secret Fan",
    "vote_average": 5.5
}, {
    "id": 87818,
    "poster_path": "/nLEWEGRUOUwkK6r9aq8uZ5Q6yCr.jpg",
    "release_date": "2013-01-25",
    "title": "Movie 43",
    "vote_average": 4.8
}, {
    "id": 79697,
    "poster_path": "/eaj8yDQMFNzOssKylLQQdUnDc0.jpg",
    "release_date": "2011-09-04",
    "title": "Butter",
    "vote_average": 6.2
}, {
    "id": 127585,
    "poster_path": "/giUK8ppRbfistadVzHtpainkhq4.jpg",
    "release_date": "2014-05-23",
    "title": "X-Men: Days of Future Past",
    "vote_average": 7.8
}, {
    "id": 146233,
    "poster_path": "/3w79tTsv6tmlT8Jww6snyPrgVok.jpg",
    "release_date": "2013-09-21",
    "title": "Prisoners",
    "vote_average": 7.8
}, {
    "id": 512,
    "poster_path": "/mRRSxsCnJriz3geocV4i6Lm0nox.jpg",
    "release_date": "2006-07-27",
    "title": "Scoop",
    "vote_average": 6.4
}, {
    "id": 1124,
    "poster_path": "/5MXyQfz8xUP3dIFPTubhTsbFY6N.jpg",
    "release_date": "2006-10-19",
    "title": "The Prestige",
    "vote_average": 7.4
}, {
    "id": 228088,
    "poster_path": "/upzMc8uObjFlzilok7xGVlz28HH.jpg",
    "release_date": "2012-06-01",
    "title": "De Superman à Spider-Man: L'aventure des super-héros",
    "vote_average": 4.0
}, {
    "id": 76170,
    "poster_path": "/o1nFdxKfPE9EFP6lSweEn2mx1Oi.jpg",
    "release_date": "2013-07-25",
    "title": "The Wolverine",
    "vote_average": 6.4
}, {
    "id": 1381,
    "poster_path": "/lGIJvQ8ZQazOHVAA0E34yIy7gxv.jpg",
    "release_date": "2006-11-22",
    "title": "The Fountain",
    "vote_average": 6.9
}]
</pre>
