<div id="actorBio" class="clearfix">
	<span ng-if="profile.pic">
		<img ng-src="{{ profile.pic }}" class="bioPic" />
	</span>
	<h2>{{ profile.name }}</h2>
	<h5 ng-repeat="aka in profile.aka">
		aka: {{ aka }}
	</h5>
	<h3 ng-if="placeofbirth">{{ profile.placeofbirth }}</h3>
	<h4 ng-if="profile.birthday">
		(
		<span class="birthday">{{ profile.birthday | date:'dd MMM yyyy' }}</span>
		<span ng-if="profile.deathday" class="deathday"> - {{ profile.deathday | date:'dd MMM yyyy' }}</span>
		)
	</h4>
	<div ng-if="profile.biography">
		<h5 class="bio">Biography</h5>
		<div id="biography">
			<p ng-repeat="bio in profile.biography" ng-class="{ wiki: bio.match(citePattern).length > 0 }">{{ bio }}</p>
		</div>
	</div>
</div>

<div id="graphor">
	<p class="text-center">Graph contains movies marked as released, with a budget and more votes than zero.</p>
	<div class="text-center" ng-show="noData"><b>No movie data for this actor found.</b></div>
	<div id="loading" class="text-center" ng-hide="chartLoaded || noData==true"><img src="/images/loading.gif" /></div>
	<highchart config="chartConfig" ng-show="chartLoaded"></highchart>
</div>
