<div class="jumbotron">
	<h1>actorGraphor<h1>
	<h2 class="text-uppercase">graphor some actor</h2>
</div>

<div class="row marketing">
	<p>
		This is my AngularJS experiment for graphing actor's careers based on ratings from <a href="//www.themoviedb.org/">themoviedb</a>.
	</p>
	<h3>Graphor a recently viewed actor!</h3>
	<p>...or go <a href="#/search">search</a> for some.</p>
	<ul>
		<li ng-repeat="actor in cachedActors"><a ng-href="#/graphor?person={{ actor.id }}">{{ actor.name }}</a></li>
	</ul>
</div>
